img {
    max-width: 160px;
}


.btn-style {
  color: white;
  border: 1px solid #ccc;
  background-color: #ccc;
}
.image-list {
    margin: 10px 0;
    max-height: 300px;
    overflow-y: scroll;
    width:120px;
    margin-left:10px;
}

.image {
    margin: 0 0 10px;
    height:100px;
    width:100px;
}

.image-container {
    width: 100%;
}
.shadow {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.3);
  border-radius: 0.25rem;
}
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: white;
  border-radius: 0.25rem;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #ccc;
  border-radius: 0.25rem;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 4px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  background-color: #ccc;
  border-radius: 0.25rem;
}
.txt {
  color: white;
 
}
.upload-file-container {
  align-items: center;
  /*display: flex;
  position: relative;
  display: -webkit-flex;
  -webkit-align-items: center;*/
}
.wht {
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(255,255,255,0.3);
  color: white;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 50px;
  -webkit-justify-content: center;
  justify-content: center;
  outline: 3px dashed #ccc;
  outline-offset: 5px;
  position: relative;
}

.in-wht {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: white;
}
