
    <div class="card shadow btn-style" style="padding:4px;color:black;">
      <div class="card shadow">
        <div style="text-align:center;padding:5px;padding-bottom:10px;">
          <h2 class="example-h2">Grid Configuration</h2>
          <mat-slider class="example-margin"
                      thumbLabel tickInterval="auto"
                      [(ngModel)]="row_value"
                      (ngModelChange)="row_change($event)"
                      style="height:30px;">

          </mat-slider>
          <mat-form-field class="example-margin" style="margin:5px;">
            <input matInput type="number"
                   placeholder="Rows"
                   [(ngModel)]="row_value"
                   (ngModelChange)="row_change($event)">
          </mat-form-field>
          <mat-slider class="example-margin"
                      thumbLabel tickInterval="auto"
                      [(ngModel)]="column_value"
                      (ngModelChange)="col_change($event)"
                      style="height:30px;">
          </mat-slider>
          <mat-form-field class="example-margin" style="margin:5px;">
            <input matInput type="number"
                   placeholder="Columns"
                   [(ngModel)]="column_value"
                   (ngModelChange)="col_change($event)">
          </mat-form-field>
        </div>
      </div>
     
     
     

    </div>
  



<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
